* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
.container{
    height: 100%;
    position: relative;
}
.content{
    margin: 3px auto;
    height: 90%;
    width: 100%;
    overflow:scroll;
    overflow-x: hidden;
}
.bottom{
    margin-top: 3px;
    width: 95%;
    position: relative;
    bottom: 0.2rem;
    height:2rem;
    padding-top: 4px;
    margin-left: 4px;
}
.bottom input[type=text]{
    width: 60%;
    height:1.3rem;
    float: left;
}
.bottom input[type=button]{
    height:1.7rem;
    width: 4rem;
    margin-left: 2%;
    background-color: darkgray;
}
.leftMessageLabel{
    margin-left: 1rem;
    float: left;
    margin-top: 0.5rem;
    width: 60%;
    clear: both;
    text-align: left;
}
.rightMessageLabel{
    float: right;
    width: 60%;
    margin-right: 1rem;
    margin-top: 0.5rem;
    clear: both;
    text-align: right;
}
.msgClass{

}
.nickNameClass{
    font-size: 10px;
    margin: auto 2px;
}
.dateTimeClass{
    font-size: 10px;
    margin: auto 2px;
}